services:
    db:
        image: mariadb:10
        volumes:
            - data:/var/lib/mysql
        environment:
            - MYSQL_ROOT_PASSWORD=secret
            - MYSQL_DATABASE=wordpress
            - MYSQL_USER=manager
            - MYSQL_PASSWORD=secret

    testdb:
        image: mariadb:10
        environment:
            - MYSQL_ROOT_PASSWORD=secret
            - MYSQL_DATABASE=wordpress_test
            - MYSQL_USER=manager
            - MYSQL_PASSWORD=secret
        networks:
            - wpnet
        tmpfs:
            - /var/lib/mysql

    web:
        image: wordpress:6
        depends_on:
            - db
        volumes:
            - .:/var/www/html/wp-content/plugins/xv-random-quotes
        environment:
            - WORDPRESS_DB_USER=manager
            - WORDPRESS_DB_PASSWORD=secret
            - WORDPRESS_DB_HOST=db
            - WORDPRESS_DB_NAME=wordpress
        ports:
            - 8080:80

    cli:
        build:
            context: .
            dockerfile: Dockerfile.cli
        depends_on:
            - testdb
        volumes:
            - .:/plugin
            - wordpress:/var/www/html
            - wp_test_lib:/tmp/wordpress-tests-lib
            - composer_cache:/root/.composer
        environment:
            - WP_TESTS_DIR=/tmp/wordpress-tests-lib
            - WP_CORE_DIR=/var/www/html
            - WP_DB_NAME=wordpress_test
            - WP_DB_USER=manager
            - WP_DB_PASSWORD=secret
            - WP_DB_HOST=testdb
        working_dir: /plugin
        networks:
            - wpnet

volumes:
    data:
    wordpress:
    wp_test_lib:
    composer_cache:

networks:
    wpnet: