<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
	<testsuites>
		<testsuite name="XV Random Quotes Test Suite">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./src</directory>
			<file>./xv-random-quotes.php</file>
		</include>
		<exclude>
			<directory>./tests</directory>
			<directory>./vendor</directory>
		</exclude>
	</coverage>
	<php>
		<env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
		<env name="WP_CORE_DIR" value="/var/www/html"/>
	</php>
</phpunit>
