@charset "utf-8";
/* CSS Document */

#stray_quotes_options {
padding:10px;
}

#stray_quotes_options fieldset {
	border: 1px solid #ccc;
	padding: 10px;
}	

#stray_quotes_options p {
	padding-right:30px;
	padding-left:100px;
}

.stray_desc {
	margin-right:30px;
	margin-left:100px;
	margin-bottom:20px;
	background-color:#FFFFCA;
	border:#999999 solid 1px;
	padding:10px;
	padding-left:40px;
	background-image:url(../../../wp-includes/js/tinymce/themes/advanced/images/anchor_symbol.gif);
	background-position:12px center;
	background-repeat: no-repeat;
}

.stray_text {
	border:none;
	border-bottom:dashed #aaa 1px;
	background:none;
	font-family: "Courier New", Courier, monospace;
}	

.stray_textarea {
	border:solid #cccccc 1px;
	background:none;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
}

.stray_textedit {
	border:none;
	border-bottom:solid #cccccc 1px;
	background:none;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	margin-bottom:12px;
}

.stray_form {

	width:600px;
	padding:10px;
}

.stray_list {

	padding:10px;
	padding-bottom:20px;
}